
#sourceBox {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 160px;
	height: 300px;
	padding: 5px;
	background-color: #fff;	
}

#resultBox {
	position: absolute;
	left: 10px;
	top: 330px;
	right: 160px;
	bottom: 10px;
	padding: 5px;
	background-color: #fff;	
}

#parseButtonBox {
	position: absolute;
	right: 10px;
	top: 10px;
}